{% extends 'layout.html' %}

{% block body %}

  <!-- Resumen titulos_primal,valores_primal,titulos_primal_p,valores_primal_p,titulos_dual,valores_dual,titulos_dual_p,valores_dual_p--> 
  <div class="w3-container" id="Resumen" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><strong>Resultados Primal</strong></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="table">
        <table id="t01">
        <tr>
          {% for j in titulos_primal %}
            <th id="info">{{j}}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for j in valores_primal %}
            <td id="info">{{j}}</td>
          {% endfor %}
        </tr>
      </table>
    </div>
  </div>
  <div class="w3-container" id="Resumen" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><strong>Resultados Primal precios sobra</strong></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="table">
        <table id="t01">
        <tr>
          {% for j in titulos_primal_p %}
            <th id="info">{{j}}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for j in valores_primal_p %}
            <td id="info">{{j}}</td>
          {% endfor %}
        </tr>
      </table>
    </div>
  </div>
  <br><br>
  <div class="w3-container" id="Resumen" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><strong>Resultados Dual</strong></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="table">
        <table id="t01">
        <tr>
          {% for j in titulos_dual %}
            <th id="info">{{j}}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for j in valores_dual %}
            <td id="info">{{j}}</td>
          {% endfor %}
        </tr>
      </table>
    </div>
  </div>
  <div class="w3-container" id="Resumen" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><strong>Resultados Dual precios sobra</strong></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="table">
        <table id="t01">
        <tr>
          {% for j in titulos_dual_p %}
            <th id="info">{{j}}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for j in valores_dual_p %}
            <td id="info">{{j}}</td>
          {% endfor %}
        </tr>
      </table>
    </div>
  </div>

{% endblock %} 