{% extends 'layout.html' %}

{% block body %}

  <!-- Resumen -->
  <div class="w3-container" id="Resumen" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><strong>Resultados</strong></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <form method="POST" action="">
      <div class="table">
        <table id="t01">
        <tr>
          {% for j in variables %}
            <th id="info">{{variable[0][j]}}</th>
          {% endfor %}
        </tr>
        <tr>
          <td><input type="text" placeholder="Valor X" required="" id="valxr" name="valxr"/></td>
          <td><input type="text" placeholder="Valor Y" required="" id="valyr" name="valyr"/></td>
          <td><select name="resr" id="resr">
            <option value="<=">Mayor igual que</option>
            <option value=">=">Menor igual que</option>
            <option value="=">Igual que</option>
          </select></td>
          <td><input type="text" placeholder="Resultado" required="" id="resur" name="resur"/></td>
        </tr>
      </table>
      </div>
      <div>
        <a href="/restr">
        <input type="submit" value="{{mssg}}" />
        </a>
      </div>
    </form>
  </div>

{% endblock %} 